*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  
}

.bg-black{
  background-color: #000;
}
.bg-light-black{
  background-color: rgb(32, 32, 32);
}

/* homepage meme container */
.home-meme-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:.6rem .5rem ;
}

/* meme component */

.meme-image .hero {
  height:10rem;
  /* width:10rem; */
  position: relative;
  
}

.meme-image .hero:hover::after{
  content:attr(data-template-name);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background:rgba(0, 0, 0, .7);
  cursor:pointer;
  

  display:flex;
  align-items:center;
  justify-content:center;
  
}

.meme-image .hero img{
  height:100%;
  width: 100%;
  object-fit: fill;
}


