*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  height:100%;
  width:100%;
}

ul{
  list-style: none;
}

.App {
  width: 100%;
  
}
:root{
  --primary-color: #ffc107;
}

.bg-black{
  background-color: rgb(24, 19, 19);
}
.bg-dark-black{
  background-color: rgb(0, 0, 0);
}
.bg-light-black{
  background-color: rgb(32, 32, 32);
}
.text-light-white{
  color: rgb(88, 88, 88);
}

/* homepage meme container */
.home-meme-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:.6rem .5rem ;
}

/* meme component */

.meme-image .hero {
  height:10rem;
  /* width:10rem; */
  position: relative;
  transition:all .3s ease-in;
}


.meme-image .hero:hover::after{
  content:attr(data-template-name);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background:rgba(0, 0, 0, .7);
  cursor:pointer;
  

  display:flex;
  align-items:center;
  justify-content:center;
  
}

.meme-image .hero img{
  height:100%;
  width: 100%;
  object-fit: fill;
}

.meme-image .hero:hover img{
  object-fit: contain;

}

.page-item .page-link {
  color: black;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.create-meme-template{
  height: 20rem;
  object-fit: fill;
}

/* search-feild */
.search-input input{
  width:100%;
  border:none;
  outline:none;
  font-size: 1.2rem;
  padding: .3rem .2rem;
  border-radius: 10px;
}

.search-input input:focus{
  border:none;
  outline:none;
}

.modal-image-container{
height:20rem;
object-fit: contain;
}

.close{
  color:white;
}

.close:hover{
  color:white
}




@media all and (max-width:600px){
  
  .home-meme-container{
    grid-template-columns: repeat(2,1fr);
  }
}


